body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg'); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.quiz-container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

.option-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.option-box:hover{
    background-color:rgba(240, 248, 255, 0.84);
}

label {
    display: block;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    .quiz-container {
        width: 90%; /* Adjust the width for smaller screens */
    }
}
